/* #region utility */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    --bg-jumbo: #B4D0E7;
    --bg-button: #0061FF;
    --bg-box-light: #0093CE;
    --bg-box-dark: #0D2481;
    --bg-box-darker: #61082B;
    --bg-box-shadow: #A2D39B;
    --bg-box-border: #D1E9CD;
    --bg-boxred: #D5001F;
    --bg-box-central: #F5F5F5;
    --bg-box-secondary-red: #FF1C1C;
    --bg-box-yellow: #FFD830;
    --bg-white: #FFFFFF;
}

.col-3 {
    width: calc( (100% / 12) * 3 );
}

.col-4 {
    width: calc( (100% / 12) * 4 );
}

.col-5 {
    width: calc( (100% / 12) * 5 );
}

.col-6 {
    width: calc( (100% / 12) * 6 );
}

.col-7 {
    width: calc( (100% / 12) * 7 );
}

.col-8 {
    width: calc( (100% / 12) * 8 );
}

.col-9 {
    width: calc( (100% / 12) * 9 );
}

.container {
    width: 60%;
    max-width: 100vw;
    margin: auto;
}

.container_2 {
    width: 50%;
    max-width: 100vw;
    margin: auto;
    padding: 6rem 0;
}

.container_3 {
    width: 50%;
    max-width: 100vw;
    margin: auto;
    padding: 0;
}

.grid {
    display: grid;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

body {
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

.sponsor_img {
    max-width: 50%;
}

.p-none {
    padding: 0;
} 

/* #endregion utility*/

/* #region header */

header .logo {
    height: 20px;
}

.nav_links .header_links {
    text-decoration: none;
    color: black;
    font-size: small ;
    opacity: 0.5;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li .header_links {
    transition: all 1s ease 0s;
}

.nav_links li .header_links:hover {
    color: var(--bg-button);
    padding-bottom: 0.5rem;
    border-bottom: 0.7px solid var(--bg-button);
    opacity: 1;
}

li {
    list-style: none;
}

.navbar {
    display: flex;
    align-items: center;
    margin: 1.2rem 1rem
}

.start button {
    padding: 0.5rem;
    background-color: var(--bg-button);
    color: white;
    border: none;
    transition: all 1s ease 0s;
}

.start button:hover {
    padding: 0.7rem;
}

/* #endregion header */

/* #region main */

h1 {
    font-size: 50px;
    text-align: justify;
    padding: 3rem 0;
    word-spacing: 0.3rem;
}

.jumbo {
    background-color: var(--bg-jumbo);
    height: 73vh;
}

.start_try button {
    padding: 0.5rem;
    margin: 1.5rem 0 1rem 0;
    background-color: var(--bg-button);
    color: white;
    border: none;
    transition: all 0.7s ease 0s;
}

.start_try button:hover {
    box-shadow: 0px 0px 3px 3px white;
    padding: 1rem;
}

.fa-arrow-down {
    margin-top: 2rem;
    font-size: 40px;
}

p {
    font-size: 13px;
}

h2 {
    font-size: 30px;
    font-weight: 600;
    text-align: justify;
    word-spacing: 0.3rem;
}

.checkbox {
    padding: 3rem 0;
    display: flex;
    align-items: center;
}

.check_text {
    font-size: 10px;
    opacity: 0.5;
}


.selected, .unselected {
    width: 15px;
    height: 15px;
    border-radius: 1rem;
}

.selected {
    border: 3px solid var(--bg-button);
    margin: 0 0.2rem;
}

.unselected {
    border: 1px solid black;
    opacity: 0.2;
    margin-left: 3rem;
    margin-right: 0.2rem;
}

.top_card {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
    margin: 3px;
    margin-bottom: 0;
}

.fa-user, .fa-user-group, .fa-building {
    font-size: small;
}

.icon_text {
    font-size: small;
    padding-left: 0.2rem;
    color: grey;
}

.card {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    margin: 3px;
    margin-top: 0;
    height: 110vh;
}

.card h3 {
    font-size: medium;
    font-weight: 500;
    padding-bottom: 0.7rem;
}

.card h6 {
    font-weight: 600;
    padding-bottom: 0.3rem;
    opacity: 0.6;
}

.piano {
    font-size: small;
    opacity: 0.5;
    padding-bottom: 2.5rem;
}

.white {
    color: white;
}

.card .options {
    padding-top: 1rem;
    font-size: x-small;
    color: grey;
    display: flex;
}

.card .options i {
    color: black;
    padding-right: 0.5rem;
}

.card a {
    padding-left: 0.6rem;
}

.d_try {
    padding: 0.5rem;
    margin: 1.5rem 0 1rem 0;
    background-color: var(--bg-button);
    color: white;
    border: none;
    transition: all 0.3s ease 0s;
}

.d_try:hover {
    padding: 0.6rem;
    box-shadow: 0px 0px 2px 2px lightblue;
}

.buy_now {
    padding-top: 0.5rem;
    padding-left: 1rem;
    font-size: 10px;
    text-align: justify;
}

.buy_link {
    font-size: 10px;
    padding-left: 0;
    color: var(--bg-button);
}

.card h4 {
    margin-top: 5rem;
    padding-bottom: 1rem;
}

.underline {
    border-bottom: 1px solid grey;
    padding-bottom: 2rem;
}

.fa-check {
    padding-top: 0.2rem;
}

.top_card_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
    margin: 3px;
    margin-bottom: 0;
    width: 714px;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.card_2 {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    margin: 3px;
    margin-top: 0;
    margin-bottom: 8rem;
}

.contact h6 {
    padding-top: 0.5rem;
}

.card_2 p {
    color: grey;
    font-size: 10px;
    padding-top: 2rem;
}

.contact_button {
    padding: 0.5rem 3.5rem;
    margin: 1.5rem 0 1rem 0;
    background-color: var(--bg-button);
    color: white;
    border: none;
    transition: all 0.3s ease 0s;
}

.contact_button:hover {
    padding: 0.6rem 3.6rem;
    box-shadow: 0px 0px 2px 2px lightblue;
}

.partner {
    padding-left: 1.5rem;
}

.partner h3 {
    padding-top: 3rem;
    font-size: 15px;
    font-weight: 600;
}

.partner p {
    padding-top: 1rem;
    color: gray;
    font-weight: 400;
    font-size: 12px;
    padding-bottom: 2rem;
}

.find_partner{
    padding: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: white;
    color: rgba(0, 0, 0, 0.7);
    transition: all 0.4s ease 0s;
}

.find_partner:hover{
    background-color: var(--bg-button);
    color: white;
    border: white;
}


.img_partner {
    padding-left: 0.2rem;
}

.operation {
    margin-bottom: 1.5rem;
}

.griglia {
    padding-right: 2.5rem;
    padding-top: 2rem;
}

.griglia h3 {
    padding-bottom: 1rem;
    font-size: 15px;
}

.griglia p {
    font-size: 12px;
    color: grey;
}


.business {
    padding-top: 10rem;
    padding-bottom: 3rem;
}

.container_3 a {
    color: var(--bg-button);
    font-size: 13px;
}




/* #region sponsor */


.sponsor_container {
    width: 100%;
    display: flex;
    padding-top: 7rem;
}

.sponsor_col {
    width: calc((100% / 12) * 4 );
    display: flex;
    flex-wrap: wrap;
} 

.cont-img {
    width: calc((100% / 12) * 6);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}


#designit {
    background-color: var(--bg-box-shadow);
    border: 20px solid var(--bg-box-border);
}

#arizona {
    background-color: var(--bg-box-darker);
}

#florida {
    background-color: var(--bg-box-light);
}

#topps {
    background-color: var(--bg-boxred);
}


/* #endregion sponsor */

/* #endregion main */


